/*
gold color - #FBD784
background - #0B1D26
 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: #0B1D26;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: column;
    font-size: 62.5%;
}
.main__list {
    max-width: 1462px;
    margin: 0 auto;
    padding: 0 2rem;


}

.main:last-child {
    margin: 0;
}

.item {
    display: flex;
    flex-direction: space-between;
    gap: 4rem;
    max-width: 1462px;
    padding-bottom: 20rem;
}

.item__info {
    position: relative;
    margin: auto;
    padding-left: 15rem;
    max-width: 782px;
}

.item__count {
    font-size: 24rem;
    font-weight: 700;
    opacity: 10%;
    position: absolute;
    left: 0;
    top: -103px;
}

.item__subtitle {
    margin-bottom: 27px;
}


.item__title {
    font-size: 5rem;
}

.item__text {
    font-size: 1.8rem;
    padding-top: 2.2rem;
}

.item__link {
    font-size: 2rem;
    background-color: #0000;
    color: #FBD784 ;
    text-align: left;
    padding-top: 2.7rem;
    border: none;
}

.item__fig {
    max-width: 566px;
}

.img__fig {
    max-width:100%;
}

/* ONLY FOR DEVELOPER */

@media (max-width: 1280px) {
    
    .item {
        flex-direction: column-reverse;
        align-items: center;
    }
    .item:nth-child(2n){
        flex-direction: column;
    }
    .item__info{
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .item__count{
        top: -60px;
    }
}

@media (max-width: 1024px) {
    
    .item__title {
        font-size: 3rem;
    }
    
    .item__text {
        font-size: 1.4rem;
    }
    .item__subtitle{
        font-size: 1.4rem;
    }
    .item__link{
        font-size: 1.4rem;
    }
    .item__count {
        font-size: 18rem;
        top: -40px;
    }
    .item__info {
        padding-left: 2rem;
    }
}

@media (max-width: 360px) {
    .item__info {
        padding-left: 1rem;
    }
    .item__count {
        font-size: 12rem;
        top: 0px;
    }
    .main__list {
        padding: 0 0.5rem;
        margin-bottom: 10rem;
    }
}

@media (max-width: 260px) {
    .item__info {
        padding-left: 0.1rem;
    }
    .item__count {
        font-size: 11rem;
        top: 10px;
    }
    .main__list {
        padding: 0 0.5rem;
        margin-bottom: 10rem;
    }
}

