/*
gold color - #FBD784
background - #0B1D26
 */

 @font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("./fonts/LibreBaskerville-Bold.ttf") format('ttf');
}

@font-face {
    font-family: "LibreBaskerville-Italic";
    src: url("./fonts/LibreBaskerville-Italic.ttf") format('ttf');
}

@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("./fonts/LibreBaskerville-Regular.ttf") format('ttf');
}
@font-face {
    font-family: "Chronicle-Display-Bold";
    src: url("./fonts/Chronicle-Display-Bold.otf") format('otf');
}
@font-face {
    font-family: "Chronicle-Display-Semibold";
    src: url("./fonts/Chronicle-Display-Semibold.otf") format('otf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    background-color:#0B1D26 ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__container{
    max-width: 700px;
    max-height: 720px;
}
.main__container-paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container__paragraph-number{
    font-size: 15rem;
    font-family: "LibreBaskerville-Bold";

}
h2{
    padding-left: 120px;
}