/*
gold color - #FBD784
background - #0B1D26
 */

 @font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/Gilroy-Bold.ttf") format('ttf');
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("./fonts/Gilroy-ExtraBold.ttf") format('ttf');
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/Gilroy-Medium.ttf") format('ttf');
}
@font-face {
    font-family: "Chronicle-Display-Bold";
    src: url("./fonts/Chronicle-Display-Bold.otf") format('otf');
}
@font-face {
    font-family: "Chronicle-Display-Semibold";
    src: url("./fonts/Chronicle-Display-Semibold.otf") format('otf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    background-color:#0B1D26 ;
    color: white;
}

.container__paragraph-number{
    font-size: 15rem;
    font-family: "Gilroy-Bold";
}
